node_modules
coverage
reports
.scannerwork
.git
.gitignore
tests
jenkins
monitoring
deploy
docs
scripts
*.md
Jenkinsfile
sonar-project.properties
eslint.config.js
jest*.config.js
.trivyignore
build-info.json
